{% extends "base.html" %}
<html>

{% block title %} Inscripción a Cursada {% endblock %}

{% block body %}
<h1>Inscripción a Cursada</h1>
<form id="inscripcionForm">
    <label for="alumno_padron">Padrón del Alumno:</label>
    <input type="text" name="alumno_padron" id="alumno_padron" required>
    <br>
    <label for="materia_id">Materia:</label>
    <select name="materia_id" id="materia_id" required>
        <option value="">Seleccione una materia</option>
    </select>
    <br>
    <button type="submit">Inscribirse</button>
</form>

<div id="message"></div>
{% endblock %}

</html>

{% block scripts %}
<script>
    // Función para cargar las opciones de materia desde el servidor
    function cargarMaterias() {
        fetch('/get_materias')
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error al cargar las materias.');
                }
            })
            .then(function (data) {
                var select = document.getElementById("materia_id");
                select.innerHTML = '';

                data.materias.forEach(function (materia) {
                    var option = document.createElement("option");
                    option.value = materia.id;
                    option.text = materia.descripcion;
                    select.appendChild(option);
                });
            })
            .catch(function (error) {
                console.error(error);
            });
    }


    // Cargar las materias al cargar la página
    document.addEventListener("DOMContentLoaded", function () {
        cargarMaterias();
    });

    // Evento de envío del formulario
    document.getElementById("inscripcionForm").addEventListener("submit", function (event) {
        event.preventDefault();

        var form = event.target;
        var formData = new FormData(form);

        fetch('/inscribir_api', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(formData))
        })
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Error al realizar la inscripción.');
                }
            })
            .then(function (data) {
                document.getElementById("message").textContent = data.message;
            })
            .catch(function (error) {
                console.error('Error:', error);
                document.getElementById("message").textContent = 'Error al realizar la inscripción.';
            });
    });
</script>
{% endblock %}